<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Page to display products for bath room category">

    <!-- Bootstrap Required Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>House To Home - BATH ROOM PRODUCTS</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Css/styleBathRoom.css') }}" />

</head>

<body>

    <!-- Contains the heading, navigation and banner image -->
    <header>
        <nav class="navbar navbar-light fixed-top navbar-expand-lg"
            style="background-color: #FAF0DD; border-bottom: 1px solid black; padding:0px;">
            <div class="container" style="padding: 6px;">

                <!-- eCommerce Website Name and Logo -->
                <a class="navbar-brand-LOGO" href="#">
                    <img src="{{ url_for('static',filename='Images/Logos/Brand.jpeg') }}" width="30" height="30"
                        class="d-inline-block align-top" alt="HOUSE TO HOME">
                </a>

                <div class="navbar-brand-LOGO">
                    <a class="nav-item text-dark nav-link" href={{ url_for('main.index')}}>HOUSE TO HOME</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="navbar-nav ml-auto">


                        <a href="#id02" class="nav-item text-dark nav-link navbar-Login-LOGO" style="margin-left: 0px;">
                            <button-loginClick onclick="document.getElementById('id02').style.display='block'"
                                style="width:auto;">
                                <h>AboutUs</h>
                            </button-loginClick>
                        </a>

                        <div class="dropdown">
                            <a class="nav-item text-dark nav-link dropdown-toggle" data-toggle="dropdown"
                                id="bookDropdown" aria-haspopup="true" aria-expanded="false" href="#"
                                style="margin-right:10px;">SEARCH Product</a>
                            <div class="dropdown-menu" aria-labelledby="bookDropdown">
                                <a class="dropdown-item" href="#">Kids Bath Duck</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Bath Mats</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Containers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Body Towel</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Face Towel</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Hand Towel</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="nav-item text-dark nav-link dropdown-toggle" data-toggle="dropdown"
                                id="bookDropdown" aria-haspopup="true" aria-expanded="false" href="#">Shop By
                                Category</a>
                            <div class="dropdown-menu" aria-labelledby="bookDropdown">
                                <a class="dropdown-item" href={{ url_for('main.kitchenproducts')}}>Kitchen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={{ url_for('main.bedroomproducts')}}>Bed Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={{ url_for('main.bathroomproducts')}}>Bath Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={{ url_for('main.livingproducts')}}>Living Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={{ url_for('main.outdoors')}}>Outdoors</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href={{ url_for('main.commonproducts')}}>Common Ones</a>
                            </div>
                        </div>


                        <a href={{ url_for('main.wishlist')}} class="nav-item text-dark nav-link navbar-Wishlist-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="WISH LIST">
                            <img src="{{ url_for('static',filename='Images/Logos/bag-heart-fill.svg') }}" width="30"
                                height="30" alt="WishList Logo">
                        </a>

                        <a href={{ url_for('main.cart')}} class="nav-item text-dark nav-link navbar-Cart-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="SHOPPING CART">
                            <img src="{{ url_for('static',filename='Images/Logos/cart-fill.svg') }}" width="30"
                                height="30" alt="Cart Logo">
                        </a>

                        <a href="#id01" class="nav-item text-dark nav-link navbar-Login-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="LOG IN">
                            <button-loginClick onclick="document.getElementById('id01').style.display='block'"
                                style="width:auto;">
                                <img src="{{ url_for('static',filename='Images/Logos/person-circle.svg') }}"
                                    class="loginImage" alt="Bootstrap" width="30" height="30" alt="Login Logo">
                            </button-loginClick>
                        </a>


                        <!--ModalPopups for Login and about us-->

                        <!--Login Modal-->
                        <div id="id01" class="modal">

                            <form class="modal-content animate" style="border: 1px solid black;border-radius: 5px;"
                                action="/action_page.php" method="post">

                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                        title="Close Modal">&times;</span>
                                </div>

                                <div class="container">
                                    <label for="uname" style="font-weight: 200; margin: 0px;"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" name="uname" required type="text"
                                        placeholder="Enter Username" name="uname" required=""
                                        style="background-color: #FAF0DD; border-radius: 5px;color: black;">

                                    <label for="psw" style="font-weight: 200; margin: 0px;"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password"
                                        style="background-color: #FAF0DD;border-radius: 5px;color: black;" name="psw"
                                        required>

                                    <button type="submit" class="loginbtn">Login</button>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember">
                                        Remember me
                                    </label>
                                </div>

                                <div class="container modalFotter"
                                    style="background-color:#FAD7A0; border-top: 1px solid black; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="cancelbtn">Cancel</button>
                                    <span class="psw"><a style="color: black" href="#">FORGOT PASSWORD?</a></span>
                                </div>
                            </form>
                        </div>
                        <!--End of Login Modal-->

                        <!--AboutUs Modal-->
                        <div id="id02" class="modal">

                            <div class="container aboutUs">
                                <p class="text-centre"
                                    style="background-color: white; color:black; font-weight:500; padding-right: 6px; padding-left: 6px;">
                                    <b>"HOUSE TO HOME"</b> is the modal website which has been prepared with outmost
                                    interest and for educational learing.
                                    It's major focus is provide online services to customers where they can buy
                                    quality home décor products at a fair price and make their home look
                                    beautiful and luxurious.
                                </p>

                                <div class="text-center">
                                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
                                        onclick="document.getElementById('id02').style.display='none'">
                                        <img src="{{ url_for('static',filename='Images/Logos/x-circle-fill.svg') }}"
                                            width="30" height="30" class="d-inline-block align-top" alt="Go Back">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--End of aboutUs Modal-->

                        <!--end of modals-->

                    </div>
                </div>

            </div>
        </nav>

        <!--Jumbotron for Hero Section -->
        <div class="jumbotron jumbotron-fluid card card-image">
            <div class="row justify-content-center mt-5 pb-4">
                <div class="col-md-8">
                    <div class="py-4 mb-5">
                        <p class="text-center backgroundImageContent tagLine">For BATH ROOM we have launched following
                            PRODUCTS
                        </p>
                        <p class="text-center backgroundImageContent">1. KIDS BATH DUCK </p>
                        <p class="text-center backgroundImageContent">2. BATH MATS</p>
                        <p class="text-center backgroundImageContent">3. BODY TOWELS</p>
                        <p class="text-center backgroundImageContent">4. FACE TOWELS</p>
                        <p class="text-center backgroundImageContent">5. HAND TOWELS</p>
                        <p class="text-center backgroundImageContent">6. LIQUID CONTAINERS</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron for Hero Section END -->
    </header>

    <!-- Contains the main content of the website, divided into sections -->
    <main>

        <!-- ShopLine -->
        <div class="text-center"
            style="background-color: #FAD7A0; border-top: black 1px solid; padding-top: 6px; padding-bottom: 6px;">
            <h10 style="background-color:#FAD7A0; padding:2px; color:black">Your wait is finally over</h10>
            <h6 style="font-size:17px; font-weight:600; background-color:#FAD7A0; padding:2px; color:black">DON'T WAIT,
                SHOP NOW!!!!!!</h6>
        </div>

        <!--Shop by category cards SECTION - 1  -->

        <div class="container-fluid fadeThePicture-here">
            <!-- </div> style="background-image: url(Background.jpeg); margin: 0px; padding-top: 12px;"> -->
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-6" style="
                    padding-top: 10px;
                    padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/Bath Duck.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">KIDS BATH DUCK</h3>
                            <h3 class="description">Description: Yellow small duck with squeezy noise
                            </h3>
                            <h3 class="dimensions">dimensions: medium</h3>
                            <h3 class="material">material: rubber</h3>
                            <div class="price">
                                $10.90
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6" style="
                    padding-top: 10px;
                    padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/Bath Mats.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">BATH MAT</h3>
                            <h3 class="description">Description: orange theme, machine washable</h3>
                            <h3 class="dimensions">dimensions: 70 centimeters * 30 centimeters</h3>
                            <h3 class="material">material: Cotton Jute + Polyester</h3>
                            <div class="price">
                                $26.00
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>



                <div class="col-md-3 col-sm-6" style="
                padding-top: 10px;
                padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/bodyTowel.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">SIDE NIGHT STAND</h3>
                            <h3 class="description">Description: set of 7 in vibrant colors</h3>
                            <h3 class="dimensions">dimensions: large</h3>
                            <h3 class="material">material: Cotton with ruffle texture</h3>
                            <div class="price">
                                $240.40
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6" style="
                    padding-top: 10px;
                    padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/Containers.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">SHAMPOO/SOAP/CONDITIONER CONTAINER</h3>
                            <h3 class="description">Description: SET of - 3, Amber glass colored, pump bottles</h3>
                            <h3 class="dimensions">dimensions: standard size</h3>
                            <h3 class="material">material: high quality glass</h3>
                            <div class="price">
                                $80.99
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Shop by category cards  SECTION - 2 -->
        <div class="container-fluid fadeThePicture-here">
            <div class="row justify-content-center">
                <div class="col-md-3 col-sm-6" style="
                    padding-top: 10px;
                    padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/face-towels.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">FACE TOWELS</h3>
                            <h3 class="description">Description: Set of 8, ruffled texture, common vibrant colors</h3>
                            <h3 class="dimensions">dimensions: 30 centimeters * 20 centimeters</h3>
                            <h3 class="material">material: Thick cotton jute texture</h3>
                            <div class="price">
                                $100.40
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6" style="
                padding-top: 10px;
                padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1" src="../static/Images/BathRoom/hand towel.jpeg">
                        </div>
                        <div class="product-content">
                            <h3 class="title">HAND TOWELS</h3>
                            <h3 class="description">Description: Set of 2, ruffled texture, Blush Color</h3>
                            <h3 class="dimensions">dimensions: 40 centimeters * 30 centimeters</h3>
                            <h3 class="material">material: Thick cotton jute texture</h3>
                            <div class="price">
                                $56.40
                            </div>
                            <a class="add-to-cart" href="../Html/cartIndex.html">ADD TO CART</a>
                            <a class="add-to-cart" href="../Html/wishListIndex.html">ADD TO WISHLIST</a>
                        </div>
                    </div>
                </div>

            </div>
            <!--End of shopping cards *****************************************-->
        </div>
    </main>

    <!-- Footer -->
    <footer class="text-center text-dark" style="background-color: #FAF0DD;">
        <!-- Grid container -->
        <div class="container p-4 footer">

            <!-- home -->
            <a class="btn btn-outline-dark btn-floating m-1" href={{ url_for('main.index')}} role="button">
                <img src="{{ url_for('static',filename='Images/Logos/Brand.jpeg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Home page">
            </a>


            <!-- Contact -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="CONTACT US ON NUMBER- 99988866">
                <img src="{{ url_for('static',filename='Images/Logos/telephone-fill.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Contact Us">
            </a>

            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="GO TO OUR FACEBOOK">
                <img src="{{ url_for('static',filename='Images/Logos/facebook.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Facebook Link">
            </a>

            <!-- WhatsApp -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="WHATS APP US">
                <img src="{{ url_for('static',filename='Images/Logos/whatsapp.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Whats App Link">
            </a>


        </div>
        <!-- Grid container -->

        <!-- Section: Text -->
        <div class="mb-4 content-for-footer">
            <p style="font-weight: 500;">
                Please feel free to contact and get help or search for the ABOVE Button-Links for your reference.
            </p>
            <p style="font-size: 12px">
                (This website is solely developed for assessment and educational purposes. There is no intention to hurt
                or harm organisational feelings)
            </p>
        </div>
        <!-- Section: Text -->

        <!-- Copyright -->
        <div class="text-center p-3">
            Copyright &copy; 2022
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>