<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Page to display products for outdoor category">

    <!-- Bootstrap Required Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>House To Home - OUTDOORS PRODUCTS</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Css/styleOutDoors.css') }}" />

</head>

<body>

    <!-- Contains the heading, navigation and banner image -->
    <header>
        <nav class="navbar navbar-light fixed-top navbar-expand-lg"
            style="background-color: #FAF0DD; border-bottom: 1px solid black; padding:0px;">
            <div class="container" style="padding: 6px;">

                <!-- eCommerce Website Name and Logo -->
                <a class="navbar-brand-LOGO" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static',filename='Images/Logos/Brand.jpeg') }}" width="30" height="30"
                        class="d-inline-block align-top" alt="HOUSE TO HOME">
                </a>

                <div class="navbar-brand-LOGO">
                    <a class="nav-item text-dark nav-link" href="{{ url_for('main.index') }}">HOUSE TO HOME</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="navbar-nav ml-auto">


                        <a href="#id02" class="nav-item text-dark nav-link navbar-Login-LOGO" style="margin-left: 0px;">
                            <button-loginClick onclick="document.getElementById('id02').style.display='block'"
                                style="width:auto;">
                                <h>AboutUs</h>
                            </button-loginClick>
                        </a>

                        <div class="dropdown">
                            <a class="nav-item text-dark nav-link dropdown-toggle" data-toggle="dropdown"
                                id="bookDropdown" aria-haspopup="true" aria-expanded="false" href="#"
                                style="margin-right:10px;">SEARCH Product</a>
                            <div class="dropdown-menu" aria-labelledby="bookDropdown">
                                <a class="dropdown-item" href="#">Flower seeds</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outside furniture set</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Outdoors Plant pots</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="nav-item text-dark nav-link dropdown-toggle" data-toggle="dropdown"
                                id="bookDropdown" aria-haspopup="true" aria-expanded="false" href="#">Shop By
                                Category</a>
                            <div class="dropdown-menu" aria-labelledby="bookDropdown">
                                <a class="dropdown-item" href="{{ url_for('main.kitchenproducts') }}">Kitchen</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.bedroomproducts') }}">Bed Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.bathroomproducts') }}">Bath Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.livingproducts') }}">Living Room</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.outdoors') }}">Outdoors</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('main.commonproducts') }}">Common Ones</a>
                            </div>
                        </div>


                        <a href="{{ url_for('main.addProductToWishList') }}"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="WISH LIST">
                            <img src="{{ url_for('static',filename='Images/Logos/bag-heart-fill.svg') }}" width="30"
                                height="30" alt="WishList Logo">
                        </a>

                        <a href="{{ url_for('main.placeOrder') }}" class="nav-item text-dark nav-link navbar-Cart-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="SHOPPING CART">
                            <img src="{{ url_for('static',filename='Images/Logos/cart-fill.svg') }}" width="30"
                                height="30" alt="Cart Logo">
                        </a>

                        <a href="#id01" class="nav-item text-dark nav-link navbar-Login-LOGO"
                            class="nav-item text-dark nav-link navbar-Wishlist-LOGO" data-toggle="tooltip"
                            data-placement="bottom" title="LOG IN">
                            <button-loginClick onclick="document.getElementById('id01').style.display='block'"
                                style="width:auto;">
                                <img src="{{ url_for('static',filename='Images/Logos/person-circle.svg') }}"
                                    class="loginImage" width="30" height="30" alt="Login Logo">
                            </button-loginClick>
                        </a>

                        <!--ModalPopups for Login and about us-->

                        <!--Login Modal-->
                        <div id="id01" class="modal">

                            <form class="modal-content animate" style="border: 1px solid black;border-radius: 5px;"
                                action="/action_page.php" method="post">

                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                        title="Close Modal">&times;</span>
                                </div>

                                <div class="container">
                                    <label for="uname" style="font-weight: 200; margin: 0px;"><b>Username</b></label>
                                    <input type="text" placeholder="Enter Username" name="uname" required type="text"
                                        placeholder="Enter Username" name="uname" required=""
                                        style="background-color: #FAF0DD; border-radius: 5px;color: black;">

                                    <label for="psw" style="font-weight: 200; margin: 0px;"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password"
                                        style="background-color: #FAF0DD;border-radius: 5px;color: black;" name="psw"
                                        required>

                                    <button type="submit" class="loginbtn">Login</button>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember">
                                        Remember me
                                    </label>
                                </div>

                                <div class="container modalFotter"
                                    style="background-color:#FAD7A0; border-top: 1px solid black; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="cancelbtn">Cancel</button>
                                    <span class="psw"><a style="color: black" href="#">FORGOT PASSWORD?</a></span>
                                </div>
                            </form>
                        </div>
                        <!--End of Login Modal-->

                        <!--AboutUs Modal-->
                        <div id="id02" class="modal">
                            <div class="container aboutUs">
                                <p class="text-centre"
                                    style="background-color: white; color:black; font-weight:500; padding-right: 6px; padding-left: 6px;">
                                    <b>"HOUSE TO HOME"</b> is the modal website which has been prepared with outmost
                                    interest and for educational learing.
                                    It's major focus is provide online services to customers where they can buy
                                    quality home décor products at a fair price and make their home look
                                    beautiful and luxurious.
                                </p>

                                <div class="text-center">
                                    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
                                        onclick="document.getElementById('id02').style.display='none'">
                                        <img src="{{ url_for('static',filename='Images/Logos/x-circle-fill.svg') }}"
                                            width="30" height="30" class="d-inline-block align-top" alt="Go Back">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--End of aboutUs Modal-->

                        <!--end of modals-->

                    </div>
                </div>

            </div>
        </nav>

        <!--Jumbotron for Hero Section -->
        <div class="jumbotron jumbotron-fluid card card-image">
            <div class="row justify-content-center mt-5 pb-4">
                <div class="col-md-8">
                    <div class="py-4 mb-5">
                        <p class="text-center backgroundImageContent tagLine">For OUTDOORS we have launched following
                            PRODUCTS
                        </p>
                        <p class="text-center backgroundImageContent">1. PLANT POTS</p>
                        <p class="text-center backgroundImageContent">2. OUTDOOR FURNITURE</p>
                        <p class="text-center backgroundImageContent">3. FLOWER SEEDS</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron for Hero Section END -->
    </header>

    <!-- Contains the main content of the website, divided into sections -->
    <main>

        <!-- ShopLine -->
        <div class="text-center"
            style="background-color: #FAD7A0; border-top: black 1px solid; padding-top: 6px; padding-bottom: 6px;">
            <h10 style="background-color:#FAD7A0; padding:2px; color:black">Your wait is finally over</h10>
            <h6 style="font-size:17px; font-weight:600; background-color:#FAD7A0; padding:2px; color:black">DON'T WAIT,
                SHOP NOW!!!!!!</h6>
        </div>

        <!--Shop by category cards SECTION -->

        <div class="container-fluid fadeThePicture-here">
            <div class="row justify-content-center">

                {% for products in outdoorsP%}
                <div class="col-md-3 col-sm-6" style="
                    padding-top: 10px;
                    padding-bottom: 10px;">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <img class="pic-1"
                                src="{{url_for('static', filename='Images/'+products.category+'/'+products.image)}}">
                        </div>
                        <div class="product-content">
                            <h3 class="title">{{products.title}}</h3>
                            <h3 class="description">Description: {{products.description}}</h3>
                            <h3 class="dimensions">dimensions: {{products.dimension}}</h3>
                            <h3 class="material">material: {{products.material}}</h3>
                            <div class="price">
                                ${{products.price}}
                            </div>
                            <form action="{{ url_for('main.placeOrder') }}">
                                <input type="hidden" id="product_id" name="product_id"
                                    value="{{ products.unique_product_id }}">
                                <input class="add-to-cart" type="submit" value="ADD TO CART">
                            </form>

                            <form action="{{ url_for('main.addProductToWishList') }}">
                                <input type="hidden" id="product_id" name="product_id"
                                    value="{{ products.unique_product_id }}">
                                <input class="add-to-cart" type="submit" value="ADD TO WISHLIST">
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--End of shopping cards *****************************************-->

    </main>

    <!-- Footer -->
    <footer class="text-center text-dark" style="background-color: #FAF0DD;">
        <!-- Grid container -->
        <div class="container p-4 footer">

            <!-- home -->
            <a class="btn btn-outline-dark btn-floating m-1" href="{{ url_for('main.index') }}" role="button">
                <img src="{{ url_for('static',filename='Images/Logos/Brand.jpeg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Home page">
            </a>


            <!-- Contact -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="CONTACT US ON NUMBER- 99988866">
                <img src="{{ url_for('static',filename='Images/Logos/telephone-fill.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Contact Us">
            </a>

            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="GO TO OUR FACEBOOK">
                <img src="{{ url_for('static',filename='Images/Logos/facebook.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Facebook Link">
            </a>

            <!-- WhatsApp -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" data-toggle="tooltip"
                data-placement="bottom" title="WHATS APP US">
                <img src="{{ url_for('static',filename='Images/Logos/whatsapp.svg') }}" width="30" height="30"
                    class="d-inline-block align-top" alt="Whats App Link">
            </a>


        </div>
        <!-- Grid container -->

        <!-- Section: Text -->
        <div class="mb-4 content-for-footer">
            <p style="font-weight: 500;">
                Please feel free to contact and get help or search for the ABOVE Button-Links for your reference.
            </p>
            <p style="font-size: 12px">
                (This website is solely developed for assessment and educational purposes. There is no intention to hurt
                or harm organisational feelings)
            </p>
        </div>
        <!-- Section: Text -->

        <!-- Copyright -->
        <div class="text-center p-3">
            Copyright &copy; 2022
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>